@import './default.scss';
@import './zero.scss';

$themes: (
  default: $theme-default,
  zero: $theme-zero
);

@mixin theme {
  @each $theme-name, $theme-map in $themes {
    $theme-map: $theme-map !global;
    &[data-theme='#{$theme-name}'] {
      @each $name, $color in $theme-map {
        --color-#{$name}: #{$color};
      }
    }
  }
}
