@import './color.scss';
@import './element.scss';
@import './graph.scss';
// @import '//at.alicdn.com/t/font_2818205_z1kb3gjvj3.css';
@import '//at.alicdn.com/t/font_2818205_42h615ivolw.css';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei,
    Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  transform: translate3d(0, 0, 0);
}
#app {
  width: 100%;
  height: 100%;
}
* {
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

input:-webkit-autofill{
  -webkit-box-shadow:0 0 0 1000px white inset !important;
}

::-webkit-input-placeholder {
  color: #999999 !important;
}

.ofh {
  overflow: hidden !important;
}

.ofa {
  overflow: auto !important;
}

.flexbox {
  display: flex;
}

.zz-cms {
  min-width: 1024px;
  height: 100%;
}

.zz-cms-layout {
  width: 100%;
  height: 100%;

  &__sidebar {
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s linear;
  }

  &__main {
    display: flex;
    flex-direction: column;
    z-index: 0;
  }

  &__header {
    display: flex;
    height: 50px;
  }

  &__body {
    display: flex;
    overflow: hidden;
  }

  &__breadcrumbs {
    display: flex;
    width: 100%;
    height: 0 0 50px;
    min-height: 50px;
    align-items: center;
    padding-left: 13px;
    border-bottom: 1px solid #eee;
    font-size: 14px;

    strong {
      color: #333333;
    }
    span {
      margin-left: 2px;
      color: #999999;
    }
  }

  &__mainview {
    flex: 1;
    padding: 0;
  }

  &__footer {
    height: 40px;
  }
}

.zz-sidebar {
  height: 100%;

  &__toggle {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #2a2e3a;
    cursor: pointer;
    color: #fff;

    &.active {
      background-color: #496ff4;
    }

    i {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      font-size: 28px;
    }
  }

  &__popover-menu {
    display: flex;
    overflow: hidden;
    position: absolute;
    top: 50px;
    left: 50px;
    bottom: 0;
    width: 0;
    transition: all 0.3s linear;

    .icon-close {
      position: absolute;
      top: 0;
      right: 0;
      color: #fff;
      font-size: 24px;
      cursor: pointer;
    }
  }
}

.zz-cms-logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

@keyframes menuFadeIn {
  0% {
    display: block;
    width: 0;
  }
  100% {
    display: block;
    width: 200px;
  }
}
@keyframes menuFadeOut {
  0% {
    display: block;
    width: 200px;
  }
  100% {
    display: block;
    width: 0;
  }
}

.zz-menu {
  &__module {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 20px;
    height: 50px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 50px;
    margin-right: 3px;
    .iconfont {
      font-size: 30px;
    }
  }
  &__name {
    flex: 1;
    white-space: nowrap;
    word-break: keep-all;
    text-align: left;
  }
  &__main {
    // overflow: hidden;
    // position: absolute;
    // top: 50px;
    // left: 50px;
    // width: 0;
    // height: 100%;
    // line-height: 40px;
    // transition: width 0.4s ease-out;
  }

  &__header {
    line-height: 60px;
    border-bottom: 2px solid #eee;
  }

  &--sub {
    flex: 0 0 200px;
    height: 100%;
    // padding-top: 15px;
    line-height: 40px;
    transition: width 0.4s ease-out;
    border-right: 1px solid var(--color-primary-light-3);
    white-space: nowrap;

    &__sub {
      padding-top: 10px;
      .zz-menu-item--submenu {
        border-left: 2px solid transparent;
        &.active {
          border-left: 2px solid #fff;
          background-color: transparent;
        }
        .zz-menu-item__icon {
          line-height: 32px;
        }
      }

      .zz-menu-item__link {
        height: 32px;
        line-height: 32px;
        font-size: 12px;
      }
    }
  }
}

.zz-menu-item {
  font-size: 14px;
  letter-spacing: 1px;
  user-select: none;
  transition: all 0.1s linear;

  &--submenu {
    position: relative;
    padding: 0;

    .zz-menu-item__icon {
      position: absolute;
      right: 10px;
      top: 0;
      line-height: 50px;
    }
  }

  &__title {
    display: flex;
    height: 40px;
    padding-right: 25px;
    align-items: center;
    text-align: left;
    // font-weight: 500;
  }

  &__icon {
    width: 15px;
    margin-right: 5px;
    text-align: center;
    transition: all 0.1s linear;

    &--collapse {
      transform: rotate(90deg);
    }
  }

  &__link {
    display: block;
    padding-right: 25px;
    text-align: left;
    padding-left: 30px;
    height: 50px;
    line-height: 50px;
    transition: all 0.1s linear;
    cursor: pointer;
  }
}
.zz-main-view {
  display: flex;
  width: 100%;
  height: 100%;
  background: #eee;
}
.zz-layout-buttons {
  // margin-bottom: 20px;
}

/* base-form */
.base-form {
  overflow: hidden;
}
.base-form-item {
  margin-bottom: 20px;
  &__label {
    font-size: 14px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 1px;
    padding-right: 15px;
    // padding-left: 10px;
    opacity: 0.85;
    white-space: nowrap;
    .iconfont {
      font-weight: 700;
    }
  }

  &__error {
    font-size: 12px;
    line-height: 2;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

/* base-search */
.define-member__search {
  .base-search__form {
    height: auto;
  }
}
.base-search {
  display: flex;
  width: 100%;
  min-height: 110px;
  &__form {
    overflow: auto;
    position: relative;
    flex: 1;
    padding-right: 10px;
    height: 118px;
    .el-input__inner {
      color: var(--el-font-inner-color);
    }
    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 8px;
      bottom: 28px;
      width: 1px;
      background-color: #eee;
    }
  }
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: space-between;
    width: 126px;
    padding-top: 2px;
    // height: 125px;

    .el-col {
      align-items: flex-start;
    }
  }
}

/* base-dialog */

.base-dialog {
  .el-dialog__header {
    padding: 0 20px;
  }
  &__header {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    font-weight: 500;
  }

  &__close {
    font-size: 24px;
    cursor: pointer;
  }

  &__footer {
    border-top: 1px solid #eee;
    padding-top: 20px;
  }
}

.zz-navbar {
  overflow: hidden;
  display: flex;
  flex: 1;
  &__tabs {
    overflow: hidden;
    flex: 1;
    display: flex;
    height: 50px;
  }

  &__btn--left,
  &__btn--right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 50px;
    cursor: pointer;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }
}
.zz-user-card {
  display: flex;
  // width: 120px;
  margin-left: 30px;
  margin-right: 20px;
  align-items: center;
  cursor: pointer;

  &__avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    flex: 1;
    margin-right: 5px;
  }
}
.zz-user-card--popover {
  &__head {
    margin-left: 10px;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    color: #999999;
  }
  &__content {
    display: flex;
    height: 74px;
    padding-left: 10px;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
  }

  &__avatar {
    overflow: hidden;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    img {
      display: block;
      width: 30px;
      height: 30px;
    }
  }
  &__name {
    margin-left: 10px;
    line-height: 30px;
    color: #ffffff;
  }
  &__foot {
    display: flex;
    align-items: center;
    justify-content: center;
    // border-top: 1px solid #eee;
    height: 30px;
    background: #292c32;

    .el-button {
      margin: 0;
      line-height: 30px;
      font-size: 12px;
    }
  }
}
.zz-navbar-tab {
  min-width: 130px;
  height: 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px 0 8px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #ccc;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;

  &__name {
    overflow: hidden;
    flex: 1;
    letter-spacing: 1px;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    margin-right: 5px;
  }
  &:hover {
    background-color: #eeeeee;
    color: #18328a;
  }

  &.current-link {
    background-color: #eeeeee;
    color: #18328a;
  }
}

.context-menu {
  width: 120px;
  position: absolute;
  border: 1px solid #eee;
  background-color: #fff;
  z-index: 999;

  &__item {
    color: #333;
    background-color: #fff;
    font-size: 12px;
    padding: 8px 5px;
    cursor: pointer;
    user-select: none;
    text-align: center;

    &:hover {
      color: #18328a;
      background-color: #eee;
    }
  }
}
